<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <div class="navbar-expand navbar-text center-footer">
    Made with <i class="fa fa-bug"></i>
    by <a href="https://twitter.com/dong82">dong82</a>
  </div>

  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.facebook.com/profile.php?id=10047410" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/dong82" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@davidan_56033" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>